#header {
  width: 100%;
  height: 20%;
  background-color: gray;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
#container {
  width: 100%;
  height: 70%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
#left {
  width: 65%;
  height: 100%;
  float: left;
  background-color: #a79e84;
}
#right {
  width: 35%;
  height: 100%;
  float: right;
  background-color: #a79e84;
}
#footer {
  width: 100%;
  height: 10%;
  background-color: gray;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
